<!-- View -->
<section class="sidebar shadow-2xl">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tours</a> <!-- [] .. es wird ein JavaScript Objekt übergeben; exact weil /tourDetail sonst auch gelten würde / -->
    <a routerLink="/tourLogs" routerLinkActive="active">Tour Logs</a> <!-- routerLink = Angular; navigiere zur Route / -->
    <a routerLink="/myTours" routerLinkActive="active">My Tours</a>
    <a routerLink="/stats" routerLinkActive="active">Stats</a>
</section>