<div class="flex bg-primary2 rounded-md text-stone-850 w-full p-2.5 gap-4">
    <div class="flex bg-primary w-14 sm:w-16 rounded-md items-center justify-center">ICON</div>
    <div class="flex flex-col justify-between">
        <div class="flex gap-4 items-center">
            <h2 class="text-xl font-semibold">Tour 1</h2>
            <star-rating></star-rating>
        </div>
        <div>
            <span class="text-xs">5:00 | 220km</span>
            <!--<ul> tag liste
                <li>
                    <tag></tag>
                </li>
            </ul>-->
        </div>
    </div>
</div>