<section class="tour-log-item text-[clamp(0.5rem,5vw,1rem)]">
    <div class="text-white rounded-2xl bg-secondary p-4 m-7">
      <div class="grid grid-cols-[minmax(200px,15%)_1fr]">
        <div class="">
          <div class="grid grid-cols-[minmax(50px,15%)_1fr]">
            <div>
              <img class="invert brightness-0 w-15" src="assets/profileIcon.svg" alt="profileIcon">
            </div>
            <div>
              <div class="grid grid-rows-[50%_50%]">
                <div>Susan Bolt</div>
                <div class="italic text-sm">13.01.2026 | 20:25</div>
              </div>
            </div>
          </div>
          <div>Bewertung</div>
          <div>Difficulty: 2/10</div>
          <div>Total Distance: 2 km</div>
          <div>Total Time: 32 min</div>
        </div>
        <div class="">
Die Wandertour war insgesamt sehr angenehm und abwechslungsreich. Die Strecke war gut ausgeschildert und bot schöne Ausblicke auf die umliegende Landschaft. Besonders gefallen hat mir die ruhige Atmosphäre und die Natur entlang des Weges. Der Schwierigkeitsgrad war moderat und auch für weniger geübte Wanderer gut machbar. Insgesamt eine empfehlenswerte Tour, die ich jederzeit wieder machen würde.        </div>
    </div>
    <div class="flex justify-end pt-2">
        <div class="inline-block text-black bg-accent rounded-xl px-4 py-2 hover:opacity-80 cursor-pointer transition">
            Visit Tour →
        </div>
    </div>
    </div>
</section>