@if (vm.isModalOpen()) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 p-4">
  <div class="w-full max-w-2xl rounded-2xl bg-white p-6 shadow-xl text-black">
    
    <div class="mb-4 flex items-center justify-between border-b pb-2">
      <h2 class="text-xl font-semibold">
        {{ vm.tourLog().tourLogId !== 0 ? 'Log bearbeiten' : 'Neuen Log anlegen' }}
      </h2>
      <button type="button" (click)="vm.closeModal()" class="text-gray-500 hover:text-error text-2xl px-2">✕</button>
    </div>

    <!-- ngSubmit: Angular Event, reagiert immer wenn submit ausgelöst wird -->
    <form (ngSubmit)="vm.saveTourLog()" class="space-y-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium">Datum</label>
          <!-- two way binding -->
          <input type="date" name="date" [(ngModel)]="vm.tourLog().date" class="w-full border rounded-xl p-2" required />
        </div>
        <div>
          <label class="block text-sm font-medium">Uhrzeit</label>
          <input type="time" name="time" [(ngModel)]="vm.tourLog().time" class="w-full border rounded-xl p-2" required />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium">Rating (1-5 Sterne)</label>
          <input type="number" name="rating" [(ngModel)]="vm.tourLog().rating" min="1" max="5" oninput="if(this.value > 5) this.value = 5; if(this.value < 1) this.value = 1;" class="w-full border rounded-xl p-2" required />
        </div>
        <div>
          <label class="block text-sm font-medium">Schwierigkeit (1-10)</label>
          <input type="number" name="difficulty" [(ngModel)]="vm.tourLog().difficulty" min="1" max="10" oninput="if(this.value > 10) this.value = 10; if(this.value < 1) this.value = 1;" class="w-full border rounded-xl p-2" required />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium">Distanz (km)</label>
          <input type="number" min="0" oninput="this.value = Math.max(0, this.value)" step="0.1" name="totalDistanceKm" [(ngModel)]="vm.tourLog().totalDistanceKm" class="w-full border rounded-xl p-2" required />
        </div>
        <div>
          <label class="block text-sm font-medium">Dauer (Minuten)</label>
          <input type="number"  oninput="this.value = Math.max(0, this.value)" name="totalTimeMin" [(ngModel)]="vm.tourLog().totalTimeMin" class="w-full border rounded-xl p-2" required />
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium">Kommentar</label>
        <textarea name="comment" [(ngModel)]="vm.tourLog().comment" rows="3" class="w-full border rounded-xl p-2"></textarea>
      </div>

      <div class="flex justify-end gap-2 pt-4 border-t">
        <button type="button" (click)="vm.closeModal()" class="px-4 py-2 border rounded-xl hover:bg-gray-100 transition-colors">
          Abbrechen
        </button>
        <button type="submit" class="px-4 py-2 bg-secondary text-white rounded-xl font-bold hover:bg-primary2 transition-colors">
          {{ vm.tourLog().tourLogId !== 0 ? 'Änderungen speichern' : 'Erstellen' }}
        </button>
      </div>
    </form>
  </div>
</div>
}