.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-column: 1 / -1;  /* spannt über beide Spalten */
}

.sidebar {
  grid-column: 1;
  overflow-y: auto;
}

.content {
  background-color: #FFFDF3;
  grid-column: 2;
  padding: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  min-width: 0;
  overflow-y: auto;
}