.header {
  display: flex;
  justify-content: flex-end; /* Inhalt nach rechts */
  align-items: center; /* vertikal zentrieren */
  height: 60px;
  
  /* Sticky Header */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}