<!-- View -->
 <section>
 <div class="relative">
    <back-button height=32 width=32></back-button>
    <div class="flex flex-col bg-primary2 rounded-md text-stone-850 mt-6 mb-6 p-6 md:p-10 gap-4">
        <div class="flex gap-4 md:gap-8 w-full">
            <div class="flex bg-primary w-14 sm:w-16 rounded-md items-center justify-center">TYPE</div>
            <div class="flex flex-col justify-between">
                <div class="flex items-center gap-3">
                    <h3 class="text-xs md:text-xl">Titel</h3>
                    <star-rating [stars]=3></star-rating>
                </div>
                <span class="text-xs"> 5:00h | 23km</span>
            </div>
        </div>
        <div class="flex justify-center">
            MAP PLACEHOLDER
        </div>
        <div>
            <p class="font-bold text-xs md:text-base">Description:</p>
            <p class="text-xs">Description</p>
        </div>
    </div>
</div>
</section>