<section class="header bg-background shadow-md flex items-center">
    <span class="material-symbols-outlined cursor-pointer text-gray-600" style="font-size: 36px;">
        account_circle
    </span>
    
    <span (click)="toggleDropdown()" class="material-symbols-outlined cursor-pointer text-gray-600 pr-4" style="font-size: 36px;">
        keyboard_arrow_down
    </span>

    <div class="dropdown-menu shadow-lg" [class.show]="isDropdownOpen()">
        @if (isLoggedIn()) {
            <button (click)="logout()" class="dropdown-item w-full text-left cursor-pointer">
                Log out
            </button>
        } @else {
            <a class="dropdown-item" routerLink="/login" (click)="closeDropdown()" routerLinkActive="active">Login / Registration</a>
        }
        </div>
</section>