/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
    --color-primary: #9AA572;
    --color-secondary: #283618;
    --color-accent: #BC6C25;
    --color-background: #FEFAE0;
}